body {
    display: flex;
    margin: 0px;
    flex-direction: column;
    min-height: 100vh;
}

.hero {
    display: flex;
    justify-content: center;
    /*flex-direction: column;*/
}

h1 {
    margin: 0;
    text-align: center;
}

img {
    overflow: hidden;
    max-width: 612px;
    flex: 1 1 auto;
}

.buttons-container, .outputs-container {
    display: flex;
    justify-content: center;
}

.outputs, .buttons {
    max-width: 612px;
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
}

.footer {
    align-self: center;
    margin-top: auto;
}