body {
    display: flex;
    margin: 0px;
    flex-direction: column;
    min-height: 100vh;
    background-color: #37393e;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero {
    padding: 10px 0px;
    display: flex;
    justify-content: center;
}

h1 {
    padding-top: 10px;
    font-size: 62px;
    margin: 0;
    text-align: center;
}

img {
    overflow: hidden;
    max-width: 612px;
    flex: 1 1 auto;
}

.buttons-container, .outputs-container {
    padding: 10px 0px;
    display: flex;
    justify-content: center;
}

.outputs, .buttons {
    max-width: 612px;
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
}

.outputs {
    font-size: 16px;
}

button {
    color: #ffffff;
    border: none;
    font-size: 30px;
    background-color: #5866ef;
    border-radius: 8px;
    /* add hoverable change to darker purple */
}

button:hover {
    background-color: #4451be;
    transition-duration: 0.2s;
}

.footer {
    align-self: center;
    margin-top: auto;
    padding-bottom: 10px;
}